*{
  transition: all 0.2s ease-in-out;
}
body{
  background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'DM Serif Display', serif;
}
.button {
  position: relative;
 border-radius: 5em;
 border: none;
 mix-blend-mode: lighten;
 color: #FFF;
 text-align: center;
 font-size: 20px;
 left: 25em;
 width: 10%;
 padding: 10px;
 transition: all 0.5s;
 cursor: pointer;
 float: left;
 box-shadow: 0 0 10px;
 
 }
 
 .button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
   
 }
 
 .button span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 
 .button:hover span {
   padding-right: 25px;
 }
 
 .button:hover span:after {
   opacity: 1;
   right: 0;
 }
.card{
  background: #fdfdfd;
  border-radius: 4px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}
 
img.birthday{
  max-height: 40vh;
}
.text{
  padding: 1em;
  font-size: 18px;
  color: black;
  text-shadow: 1px 1px white;
}
.writter{
  opacity: 0.8;
}
.space{
  height: 100px;
}
@media only screen and (min-width:1000px){
  .card{
    flex-direction: row-reverse;
  }
.card  img.birthday{
  width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}
@media only screen and (min-width:640px){
  .card{
    flex-direction: row-reverse;
  }
   
.card  img.birthday{
  width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}