@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
 body{
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #fae9fb;
 }
 .container{
   max-width: 1050px;
   width: 100%;
   background: #fff;
   border-radius: 12px;
   margin: 0 20px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
 }
 .container .content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 25px 20px;
 }
 img.birthday{
  max-height: 50vh;
 }
 .content .image-box{
   max-width: 55%;
 }
 .content .image-box img{
  width: 100%;
}
 .content .topic{
   font-size: 22px;
   font-weight: 500;
   color: #ba24c2;
 }
.content form{
  width: 40%;
  margin-right: 30px;
}