@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
:root{
  --overlay-colour:#03a9f4;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
 
.showcase{
  position: absolute;
  right: 0;
  width: 100%;
  min-width: 100vh;
  padding: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}
.showcase.active{
   right: 300px;
}
.showcase header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img{
  cursor: pointer;
  margin-top: -2em;
  animation: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
 
}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  background: url("../images/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active{
  background: url("../images/exit.png");
  background-repeat: no-repeat;
  background-size: 25px;
}
 .showcase video{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   opacity: 0.8;
 }
 .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
 }
 
 .text{
   position: relative;
   z-index: 10;
 }
 .text h2{
font-size: 6rem;
font-weight: 800;
line-height: 1em;
text-transform: uppercase;
color: white;
font-family: 'Charm', cursive;
max-width: 800px;
background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
background-size: 400%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
animation: animate 10s linear infinite;
animation: moveInLeft;
animation-duration: 1s;
animation-timing-function: ease-out;
}
@keyframes animate {
  to{
    background-position: 400%;
  }
}
    
 .text h3{
font-size: 2em;
font-weight: 700;
line-height: 1em;
color: white;
text-shadow: 2px 1px black;
text-transform: uppercase;
animation: moveInRight;
animation-duration: 1s;
 animation-timing-function: ease-out;
  
}
.text p{
font-size: 1.1em;
margin: 20px 0;
font-weight: 400;
max-width: 700px;
color: white;
text-shadow: 2px 1px black;
animation: moveInBottom;
animation-duration: 1s;
animation-timing-function: ease-out;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5rem;
  transition: 0.2s;
  animation: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.text a:hover{
  letter-spacing: 6px;
}
.social{
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li{
  list-style: none;
}
.social li a{
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover{
  transform: scale(0.5) translateY(-15px);
}
.menu{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul{
  position: relative;
  list-style: none;
}
.menu ul li a{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover{
  color: var(--overlay-colour);
}
@keyframes moveInLeft{
  0%{
      opacity: 0;
      transform: translateX(100px);

  }
  80%{
      transform: translateX(-10px);

  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight{
 0%{
     opacity: 0;
     transform: translateX(-100px);

 }
 80%{
     transform: translateX(10px);

 }
 100%{
   opacity: 1;
   transform: translate(0);
 }
}
@keyframes moveInBottom{
 0%{
     opacity: 0;
     transform: translateY(100px);

 }
 80%{
     transform: translateY(-10px);

 }
 100%{
   opacity: 1;
   transform: translate(0);
 }
}
@keyframes moveInButton{
 0%{
     opacity: 0;
     transform: translateY(30px);

 }
  
 100%{
   opacity: 1;
   transform: translate(0);
 }
}

@media(max-width:798px){
  .showcase, .showcase header{
    padding: 40px;
  }
  .text h2{
    font-size: 3em;
  }
  .text h3{
    font-size: 2em;
  }
}